<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>POKUSAJ <%= title %> </p>
<p>Sta radis? Ja <%=moje%></p>
<p><a href="/">NAZAD na prvu stranicu </a></p>



</body>
</html>
